// Simple form-control
.form-control{
	font-size: 14px;
	&:focus{
		box-shadow:none;
		border-color:$txt-color;
	}
}
// Material form
.md-form{
	border: none;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	padding-left: 0;
	&:focus{
		border-bottom: 1px solid $theme-color;
	}
}

// Error-message form
.er-msg{
	border-color:red;
	~ span{
		font-size: 12px;
		color: red;
	}
}
// Select form
select.form-control{
	border: none;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	&:hover,&:focus{
		border-color:$theme-color;
	}
}
// Radio button
.form-radio {
	position: relative;
	.form-help {
		position: absolute;
		width: 100%;
	}
	label {
		position: relative;
		padding-left: 1.5rem;
		text-align: left;
		color: #333;
		display: block;
		font-size: 14px;
	}
	input {
		width: auto;
		opacity: 0.00000001;
		position: absolute;
		left: 0;
	}
}
.radio {
	.helper {
		position: absolute;
		top: -0.15rem;
		left: -0.25rem;
		cursor: pointer;
		display: block;
		font-size: 1rem;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		color: #999;
		&::after {
			transform: scale(0);
			background-color: $theme-color;
			border-color: $theme-color;
		}
		&::after,
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 2px;
			margin: 0.25rem;
			width: 1rem;
			height: 1rem;
			-webkit-transition: -webkit-transform 0.28s ease;
			transition: -webkit-transform 0.28s ease;
			transition: transform 0.28s ease, -webkit-transform 0.28s ease;
			border-radius: 50%;
			border: 0.125rem solid $theme-color;
		}
	}
	label:hover .helper {
		color: $theme-color;
	}
	input {
		&:checked ~ .helper::after {
			transform: scale(0.5);
		}
		&:checked ~ .helper::before {
			color: $theme-color;
		}
	}
	&.radiofill {
		input:checked ~ .helper::after {
			transform: scale(1);
		}
		.helper::after {
			background-color: $theme-color;
		}
	}
	&.radio-disable {
		label {
			cursor: not-allowed;
		}
		opacity:0.7;
	}
}

.radio-inline {
	display: inline-block;
	margin-right: 20px;
}

// Border checkbox
.border-checkbox-section {
	.border-checkbox-group {
		display: inline-block;
		.border-checkbox:checked + .border-checkbox-label:after {
			-webkit-animation: check linear 0.5s;
			animation: check linear 0.5s;
			opacity: 1;
			border-color: $theme-color;
			.border-checkbox-label {
				&:before {
					border-color: #eee;
				}
			}
		}
		.border-checkbox-label {
			position: relative;
			display: inline-block;
			cursor: pointer;
			height: 25px;
			line-height: 25px;
			padding-left: 30px;
			margin-right: 15px;
			font-size: 14px;
			&:after {
				content: "";
				display: block;
				width: 5px;
				height: 11px;
				opacity: .9;
				border-right: 2px solid #eee;
				border-top: 2px solid #eee;
				position: absolute;
				left: 4px;
				top: 13px;
				-webkit-transform: scaleX(-1) rotate(135deg);
				transform: scaleX(-1) rotate(135deg);
				-webkit-transform-origin: left top;
				transform-origin: left top;
			}
			&:before {
				content: "";
				display: block;
				border: 2px solid $theme-color;
				width: 20px;
				height: 20px;
				position: absolute;
				left: 0;
				top: 2px;
			}
		}
	}
	.border-checkbox {
		display: none;
		&:disabled {
			~ .border-checkbox-label {
				cursor: no-drop;
				color: #ccc;
			}
		}
	}
}

@include theme-keyframes(check) {
	0% {
		height: 0;
		width: 0;
	}
	25% {
		height: 0;
		width: 5px;
	}
	50% {
		height: 15px;
		width: 5px;
	}
}

// Dropdown
.theme-dropdown{
	.btn{
		font-size: 14px;
		background: $theme-color;
		border-color:$theme-color;
		&:hover{
			background: darken($theme-color,10%);
			border-color: darken($theme-color,10%);
		}
	}
	&.show>.btn-secondary.dropdown-toggle{
		background: darken($theme-color,10%);
		border-color: darken($theme-color,10%);
		&:focus{
			box-shadow:0 0 0 0.2rem rgba($theme-rgb, $alpha);
		}
	}
}

// Image-upload
.imageupload{
	border: 1px solid #ddd;
	border-radius: 4px;
	.panel-heading{
		background: #f5f5f5;
		padding: 10px 15px;
		h3{
			font-size: 16px;
		}
	}
	.file-tab .thumbnail{
		margin-bottom: 25px;
	}
	.btn{
		padding-left: 35px;
		padding-right: 35px;
	}
	.panel-body{
		padding: 25px 15px;
		text-align: center;
		img{
			display: inline-block;
			border-radius: 4px;
			box-shadow: 0 2px 10px -1px rgba(69, 90, 100, 0.3);
		}
		label{
			margin-bottom: 0;
			margin-right: 15px;
		}
	}
}